<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Todo sobre transporte público - Alternativas - Propuestas ">
    <meta name="author" content="CrltsMrtnz">


    {% block title %}
      <title>Colectivo | </title>
    {% endblock %}


    <!-- Carga de Ficheros estaticos -->
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Estilos -->
    <link href="{% static 'core/css/business-casual.css' %}" rel="stylesheet">

    <!-- Estilos Personalizados-->
    <link href="{% static 'core/css/estilos.css' %}" rel="stylesheet">
    {% block extra-head %}
    {% endblock %}
      <style>
        li {
            list-style: none!important;
        }
        ul.dropdown-user {
            padding-left: 0;
            text-align: center;
        }
          body {
              background-size: contain;
              background-position: center center;
          }
      </style>
    </head>

  <body>
    <!-- Navegación -->
    <nav class="navbar bg-dark navbar-dark navbar-expand-lg" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand  text-expanded font-weight-bold" href="{% url 'portal' %}">COLECTIVO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            {#% if not request.user.is_authenticated %#}
              <li class="nav-item px-lg-2 {#% if request.path == 'login' %#}active{#% endif %#}">
                <a class="nav-link text-uppercase text-expanded" href="{#% url 'login' %#}">Acceder</a>
              </li>


            {#% else %#}
                    {#% if user.is_superuser %#}
                        <li class="nav-item px-lg-2 {#% if request.path == 'signup' %#}active{#% endif %#}">
                          <a class="nav-link text-uppercase text-expanded" href="{#% url 'signup' %#}">Crear Usuario</a>
                        </li>
                    {#% endif %#}

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown px-lg-2">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{#% static 'core/img/favicon.png' %#}" width="25" height="25" alt="user" class="profile-pic"></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <img src="{#% static 'core/img/favicon.png' %#}" width="50" height="50" alt="avatar"></div>
                                    <div class="u-text">
{#                                        <h4>{{ user.username }}</h4>#}
{#                                        <p class="text-muted">{{ user.email }}</p>#}
                                    </div>
                                </div>
                            </li>
                            <li><a href="{#% url 'logout' %#}" class="text-danger"><i class="fa fa-power-off"></i> Cerrar Sesion</a></li>
                        </ul>
                    </div>
                </li>

            {#% endif %#}



          </ul>
        </div>
      </div>
    </nav>
    <!-- Navegación -->


    <!-- Contenido -->
    <div class="container">
            {% block content %}
            {% endblock %}
    </div>

    <!-- Contenido -->


    <!-- Bootstrap -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  </body>

</html>
