{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  <title>
     | Home
  </title>
{% endblock %}

{% block extra-head %}
    <style>
        .order-card {
        color: #fff;
        }

        .bg-c-green {
            background: linear-gradient(45deg,#1e7e34,#455d4a);
        }

        .bg-c-red {
            background: linear-gradient(45deg,#dc3545,#8a5151);
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            min-width: 290px;
        }

        .card .card-block {
            padding: 25px;
        }

        .order-card i {
            font-size: 50px;
        }
        .lock-action {
            text-decoration: none;
            color: white;
            text-shadow: 7px -4px 5px rgba(0,0,0,0.6);
        }
        .card.bg-c-green.order-card:hover {
            background: linear-gradient(45deg,#455d4a,#1e7e34);
        }
        .card.bg-c-red.order-card:hover {
            background: linear-gradient(45deg,#8a5151,#dc3545);
        }
        .lock-action:hover {
            color: white;
            padding: 1px;
            text-decoration: none;

            text-shadow: -9px 4px 5px rgba(0,0,0,0.6);
            -webkit-box-shadow: 0px 0px 18px 8px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 18px 8px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 18px 8px rgba(0,0,0,0.25);
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;
        }
    </style>
{% endblock %}


<!-- Contenido -->
{% block content %}
    {% if user.is_superuser %}
        <!-- Cabecera -->
        <div class="pt-5 mt-5"></div>
            <div class="row d-flex justify-content-around">
                <div class="col-md-4 col-xl-3">
                    <div class="card bg-c-green order-card">
                        <a class="lock-action " href="abrir">
                            <div class="card-block text-center">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                <h2 class="text-center">
                                    <span>ABRIR</span>
                                </h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="pt-5 mt-5"></div>
            <div class="row d-flex justify-content-around">
                <div class="col-md-4 col-xl-3 ">
                    <div class="card bg-c-red order-card">
                        <a class="lock-action" href="cerrar">
                            <div class="card-block text-center">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <h2 class="text-center">
                                    <span>CERRAR</span>
                                </h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    {% else %}
        <img src="{% static 'core/img/tunel.jpg' %}" class="img-fluid" alt="Tunel">
    {% endif %}
{% endblock %}
<!-- Contenido -->